{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Tracker</title>
    <link rel="stylesheet" href="{% static 'vendor/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/bagpakk.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block prefix %}{% endblock prefix %}
</head>
<body {% block ngapp %}{% endblock ngapp %}>
    <header>
        <div class="wrap clearfix">
            <h1 class="left">
                <a href="/">
                    <i class="fa fa-paw"></i> Pet Tracker
                </a>
            </h1>
            <nav class="right">
                {% if user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="button">
                    Admin
                </a>
                {% endif %}
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="button">
                    Logout
                </a>
                {% endif %}
            </nav>
        </div>
    </header>

    <div id="content">
        <div class="wrap">
        {% block content %}{% endblock content %}
        </div>
    </div>

    <footer>
        <div class="wrap"></div>
    </footer>
    {% block postfix %}{% endblock postfix %}
</body>
</html>
