{% extends "base.html" %}
{% load staticfiles %}

{% block prefix %}
<script src="{% static 'vendor/js/angular/angular.min.js' %}"></script>
<script src="{% static 'vendor/js/angular/angular-resource.min.js' %}"></script>
<script src="{% static 'vendor/js/angular/angular-route.min.js' %}"></script>
<script src="{% static 'vendor/js/underscore.min.js' %}"></script>
{% endblock prefix %}

{% block ngapp %}ng-app="petTrackerApp" ng-controller="PetTrackerController"{% endblock ngapp %}

{% block content %}
<h2>Animals</h2>
<ul>
    <li ng-repeat="animal in animals">[[ animal.name ]]</li>
</ul>

<h2>Breeds</h2>
<ul>
    <li ng-repeat="breed in breeds">[[ breed.name ]]</li>
</ul>

<h2>Pets</h2>
<ul>
    <li ng-repeat="pet in pets">[[ pet.name ]]</li>
</ul>
{% endblock content %}

{% block postfix %}
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controllers.js' %}"></script>
<script src="{% static 'js/directives.js' %}"></script>
<script src="{% static 'js/services.js' %}"></script>
{% endblock postfix %}
