{% extends "base.html" %}
{% load staticfiles %}

{% block prefix %}
<script src="{% static 'vendor/js/angular/angular.min.js' %}"></script>
<script src="{% static 'vendor/js/angular/angular-resource.min.js' %}"></script>
<script src="{% static 'vendor/js/angular/angular-route.min.js' %}"></script>
<script src="{% static 'vendor/js/underscore.min.js' %}"></script>
{% endblock prefix %}

{% block ngapp %}ng-app="petTrackerApp" ng-controller="PetTrackerController"{% endblock ngapp %}

{% block content %}
<pet-list ng-show="!focusedPet && !addingPet"></pet-list>
<pet-form ng-show="!focusedPet && addingPet"
          animals="animals" adding-pet="addingPet" pets="pets"></pet-form>
<pet-details ng-show="focusedPet && !addingPet"
             pets="pets" pet="focusedPet"></pet-details>
{% endblock content %}

{% block postfix %}
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/controllers.js' %}"></script>
<script src="{% static 'js/directives.js' %}"></script>
<script src="{% static 'js/filters.js' %}"></script>
<script src="{% static 'js/services.js' %}"></script>
{% endblock postfix %}
