header{
    background-color: #333;
    padding: 10px 0 2px;
}
header h1{
    color: #FFF;
    margin: 0;
}
header nav{
    margin-top: -1px;
}
form.small-width {
    max-width: 370px;
}
form.small-width input[type="text"], form.small-width input[type="password"]{
    width: 100%;
}
li.showing, li.not-showing{
    font-family: Helvetica, Arial, sans-serif;
    padding: 1.618rem 3.236rem;
    font-size: 1.618rem;
    margin-bottom: 1.618rem;
    margin-top: 1em;
    border-style: solid;
    border-width: 2px;
}
li.showing{
    color: white;
    background-color: #4bbd93;
    border-color: #4bbd93;
}
li.not-showing{
    color: #666666;
    background: none;
    border-color: #666666;
}
*[ng-click]{
    cursor: pointer;
}
th[ng-click], li[ng-click]{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
th.ascending{
    text-decoration: underline;
}th.descending{
    text-decoration: overline;
}
.container{
    padding: 2rem 0;
}
