<div>
    <p ng-if="!pets.length">The database is empty. Add some pets.</p>

    <div class="clearfix">
        <ul class="inline-list left" ng-if="pets.length">
            <li>Showing:</li>
            <li id="toggle-showing-[[ animal.name | lowercase ]]s"
                ng-repeat="animal in animals"
                ng-click="animal.showing=!animal.showing"
                ng-class="{'showing': animal.showing,
                           'not-showing': !animal.showing}">
                [[ animal.name ]]s
            </li>
        </ul>

        <button id="add-pet" class="button primary right"
                ng-click="addingPet=true">
            <i class="fa fa-plus"></i> Add a pet
        </button>
    </div>

    <table id="pet-list" ng-if="pets.length">
        <thead>
            <tr>
                <th ng-class="{ascending: ordering=='id',
                               descending: ordering=='-id'}"
                    ng-click="order('id')">
                    ID
                </th>
                <th ng-class="{ascending: ordering=='name',
                               descending: ordering=='-name'}"
                    ng-click="order('name')">
                    Name
                </th>
                <th ng-class="{ascending: ordering=='breed.animal.name',
                               descending: ordering=='-breed.animal.name'}"
                    ng-click="order('breed.animal.name')">
                    Animal
                </th>
                <th ng-class="{ascending: ordering=='breed.name',
                               descending: ordering=='-breed.name'}"
                    ng-click="order('breed.name')">
                    Breed
                </th>
                <th ng-class="{ascending: ordering=='birthday',
                               descending: ordering=='-birthday'}"
                    ng-click="order('birthday')">
                    Birthday
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pet in pets | orderBy: ordering | filter: filterAnimal"
                ng-click="showPetDetails(pet)" class="pet" id="pet-[[ pet.id ]]">
                <td>[[ pet.id ]]</td>
                <td>[[ pet.name ]]</td>
                <td>[[ pet.breed.animal.name ]]</td>
                <td>[[ pet.breed.name ]]</td>
                <td>[[ pet.birthday | date ]]</td>
            </tr>
        </tbody>
    </table>
</div>
