<div class="container">
    <i class="fa fa-times right close-pet-details" title="Close pet details"
       ng-click="pet=null"></i>

    <h2>[[ pet.name ]]</h2>
    <table class="horizontal-table pet-details">
        <tr>
            <th>ID</th>
            <td>[[ pet.id ]]</td>
        </tr>
        <tr>
            <th>Animal</th>
            <td>
                [[ pet.breed.animal.name ]]
                <em class="animal-scientific">[[ pet.breed.animal.scientific_name ]]</em>
            </td>
        </tr>
        <tr>
            <th>Breed</th>
            <td>[[ pet.breed.name ]]</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>[[ pet.birthday | date ]]</td>
        </tr>
        <tr>
            <th></th>
            <td>
                <button id="verify-delete" class="button danger"
                        ng-click="verifyDelete()"
                        ng-show="!deletingPet">
                    Delete
                </button>
                <form id="delete-verification" ng-show="deletingPet">
                    <p>
                        You are about to delete [[ pet.name ]] forever. If you
                        are sure that's what you want to do, enter
                        <strong>"[[ pet.name ]]"</strong> and click "Delete".
                    </p>
                    <input type="text" ng-model="deleteVerification" autofocus>
                    <div class="text-right">
                        <button id="delete-pet" class="button danger"
                                ng-click="deletePet()"
                                ng-disabled="deleteVerification!=pet.name"
                                placeholder="[[ pet.name ]]">
                            Delete
                        </button>
                        <button class="button plain" ng-click="cancelDelete()">
                            Cancel
                        </button>
                    </div>
                </form>
            </td>
        </tr>
    </table>
</div>
